body{
    background-color: #ffffff;
    width: 500px;
    margin-bottom: 4em;
    padding-bottom:1em ;

}
.page-choice {
    width: 300px;
    padding: 4px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}
.popup_inner{
    width: 100%;
    margin: auto;
}
.splitter{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.34);

}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
}
.wordlist{
    color:royalblue;
    border: rgb(7, 117, 203) solid 1px;
    padding: 3px 4px 3px 10px;
    border-radius: 0.5rem;
    margin:0em 10px;
}
.wordlist button{
    margin-left: 4px;
    font-size: 0.8em;
    color:gray;
    border-radius: 50%;
}

#logo{
    max-width: 4em;
    max-height: 3em;
    margin: 1em;
}